h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

.stroke {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + .stroke {
        padding-top: 10px;
    }
}

.navbar {
	display: flex;
	padding: 0 2rem;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	background-color: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #eaecef;

	&-menu {
		list-style: none;
		display: flex;

		li {
			margin-right: 2rem;
		}

		a {
			color: #2c3e50;
			text-decoration: none;

			&:hover,
			&.active {
					border-bottom: 2px solid #3eaf7c;
			}
		}
	}
}
